1. Load necessary packages and modules

In [1]:
# Azure Machine Learning SDK core
from azureml.core import Workspace
from azureml.core.model import Model

# Scikit-learn and others
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle

2. Train and save a model
Model training here is provided only as an example, it assumes you don't have a trained model already.

Before running the code below for your own model:

* Load in your trained model, or copy the last line of the code below into the notebook where your trained model is located.
* Save your trained model as a .pkl file called model.pkl, as shown below.

In [2]:
import pandas as pd

# Load the file into a DataFrame
df_preprocessed_salaries = pd.read_csv('https://github.com/hzha579/NZMSA-2022-Phase-2/raw/main/Resources/datasets/preprocessed_salaries.csv')
df_preprocessed_salaries.head(5)

   work_year  experience_level  job_title  salary_in_usd
0          3                 3         84          85847
1          3                 2         66          30000
2          3                 2         66          25500
3          3                 3         47         175000
4          3                 3         47         120000

In [3]:
df_preprocessed_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   work_year         3755 non-null   int64
 1   experience_level  3755 non-null   int64
 2   job_title         3755 non-null   int64
 3   salary_in_usd     3755 non-null   int64
dtypes: int64(4)
memory usage: 117.5 KB

In [4]:
df_preprocessed_salaries.describe()

         work_year  experience_level    job_title  salary_in_usd
count  3755.000000       3755.000000  3755.000000    3755.000000
mean      2.373635          2.469241    39.661784  137570.389880
std       0.691448          0.906261    18.536695   63055.625278
min       0.000000          0.000000     0.000000    5132.000000
25%       2.000000          2.000000    27.000000   95000.000000
50%       2.000000          3.000000    33.000000  135000.000000
75%       3.000000          3.000000    47.000000  175000.000000
max       3.000000          3.000000    92.000000  450000.000000

In [5]:
# Split data into a training set and a test set (test set not used in this example)
X = df_preprocessed_salaries[['work_year', 'experience_level', 'job_title']]
y = df_preprocessed_salaries['salary_in_usd']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train and save model
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)
pickle.dump(model, open("model.pkl", "wb"))

3. Load and connect to workspace

In [6]:
ws = Workspace.from_config(path="config.json")

4. Register model onto Azure

In [7]:
model = Model.register(ws, model_name="salaries-GradientBoostingRegressor", 
                       model_path="model.pkl")

Registering model salaries-GradientBoostingRegressor

5. Create entry script

In [1]:
!conda list

# packages in environment at /anaconda:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_openmp_mutex             5.1                       1_gnu
applicationinsights       0.11.10                  pypi_0    pypi
boltons                   23.0.0          py310h06a4308_0
brotlipy                  0.7.0           py310h7f8727e_1002
bzip2                     1.0.8                h7b6447c_0
ca-certificates           2023.5.7             hbcca054_0    conda-forge
certifi                   2023.5.7           pyhd8ed1ab_0    conda-forge
cffi                      1.15.1          py310h5eee18b_3
charset-normalizer        2.0.4              pyhd3eb1b0_0
conda                     23.5.0          py310hff52083_1    conda-forge
conda-content-trust       0.1.3           py310h06a4308_0
conda-package-handling    2.1.0           py310h06a4308_0
conda-package-streaming   0.8.0           py310h06a4308_0
cryptography              39.0.1          py310h9ce1e76_2
idna                      3.4             py310h06a4308_0
jsonpatch                 1.32               pyhd3eb1b0_0
jsonpointer               2.1                pyhd3eb1b0_0
ld_impl_linux-64          2.38                 h1181459_1
libffi                    3.4.4                h6a678d5_0
libgcc-ng                 11.2.0               h1234567_1
libgomp                   11.2.0               h1234567_1
libstdcxx-ng              11.2.0               h1234567_1
libuuid                   1.41.5               h5eee18b_0
ncurses                   6.4                  h6a678d5_0
openssl                   3.0.9                h7f8727e_0
packaging                 23.0            py310h06a4308_0
pip                       23.1.2             pyhd8ed1ab_0    conda-forge
pluggy                    1.0.0           py310h06a4308_1
psutil                    5.9.5                    pypi_0    pypi
pycosat                   0.6.4           py310h5eee18b_0
pycparser                 2.21               pyhd3eb1b0_0
pyopenssl                 23.0.0          py310h06a4308_0
pysocks                   1.7.1           py310h06a4308_0
python                    3.10.11              h955ad1f_3
python_abi                3.10                    2_cp310    conda-forge
readline                  8.2                  h5eee18b_0
requests                  2.29.0          py310h06a4308_0
ruamel.yaml               0.17.21         py310h5eee18b_0
ruamel.yaml.clib          0.2.6           py310h5eee18b_1
setuptools                65.6.3          py310h06a4308_0
six                       1.16.0             pyhd3eb1b0_1
sqlite                    3.41.2               h5eee18b_0
tk                        8.6.12               h1ccaba5_0
toolz                     0.12.0          py310h06a4308_0
tqdm                      4.65.0          py310h2f386ee_0
tzdata                    2023c                h04d1e81_0
urllib3                   1.26.16         py310h06a4308_0
wheel                     0.38.4          py310h06a4308_0
xz                        5.4.2                h5eee18b_0
zlib                      1.2.13               h5eee18b_0
zstandard                 0.19.0          py310h5eee18b_0